-- Limpieza automática para importación en MySQL/phpMyAdmin
-- Limpieza automática para importación en MySQL/phpMyAdmin
-- Eliminar comentarios y líneas vacías al inicio
	name VARCHAR(100),
	email VARCHAR(100),
	first_contact_at DATETIME,
	last_contact_at DATETIME,
	total_messages INT,
	preferences TEXT,
	customer_data TEXT,
	created_at DATETIME,
	updated_at DATETIME,
	PRIMARY KEY (id)
) ENGINE=InnoDB;
INSERT INTO customers VALUES('ec6c560b-8e68-480c-93c8-dc919a0b54f7','15737457069',NULL,NULL,'2025-11-07 12:07:42.507846','2025-11-07 12:36:00.879614',112,'{}','{}','2025-11-07 12:07:42.507846','2025-11-07 12:36:00.879614');
INSERT INTO customers VALUES('472ac082-e430-4f1f-8e16-be41918feb83','584124906933',NULL,NULL,'2025-11-07 13:45:10.260763','2025-11-07 13:53:32.531744',11,'{}','{}','2025-11-07 13:45:10.260763','2025-11-07 13:53:32.532830');
CREATE TABLE products (
	id VARCHAR(36) NOT NULL,
	name VARCHAR(200) NOT NULL,
	description TEXT,
	price FLOAT NOT NULL,
	stock INT NOT NULL,
	category VARCHAR(100),
	image_path VARCHAR(500),
	sku VARCHAR(100),
	is_active TINYINT(1) NOT NULL,
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (sku)
) ENGINE=InnoDB;
INSERT INTO products VALUES('24e1b0f1-d1fe-4c41-a0a0-e05459bdef42','Laptop HP 15','Laptop HP 15.6", Intel Core i5-1235U, 8GB RAM, 256GB SSD',850.0,10,'laptops','static/products/images/LAP-HP-001.jpg','LAP-HP-001',1,'2025-11-07 12:06:32','2025-11-07 12:36:31');
INSERT INTO products VALUES('39b3c568-b033-4e53-ae08-a8229ec62bc6','MacBook Air M2','Apple MacBook Air 13" con chip M2, 8GB RAM, 256GB SSD',1200.0,5,'laptops','static/products/images/LAP-MAC-001.jpg','LAP-MAC-001',1,'2025-11-07 12:06:32','2025-11-07 12:06:32');
INSERT INTO products VALUES('f60fd039-1e0b-4aa8-8cd4-989d20242579','Dell XPS 13','Dell XPS 13.4" FHD, Intel Core i7, 16GB RAM, 512GB SSD',1500.0,3,'laptops','static/products/images/LAP-DEL-001.jpg','LAP-DEL-001',1,'2025-11-07 12:06:32','2025-11-07 12:06:32');
CREATE TABLE product_categories (
	id VARCHAR(36) NOT NULL,
	name VARCHAR(100) NOT NULL,
	description TEXT,
	parent_id VARCHAR(36),
	is_active TINYINT(1),
	created_at DATETIME,
	PRIMARY KEY (id),
	UNIQUE (name)
) ENGINE=InnoDB;
CREATE TABLE conversations (
	id VARCHAR(36) NOT NULL,
	customer_id VARCHAR(36) NOT NULL,
	state VARCHAR(50),
	current_intent VARCHAR(50),
	current_module VARCHAR(50),
	slots_data TEXT,
	slots_schema TEXT,
	current_slot VARCHAR(50),
	validation_attempts TEXT,
	context_data TEXT,
	started_at DATETIME,
	last_activity_at DATETIME,
	completed_at DATETIME,
	is_active TINYINT(1),
	created_at DATETIME,
	updated_at DATETIME,
	PRIMARY KEY (id),
	FOREIGN KEY(customer_id) REFERENCES customers (id)
) ENGINE=InnoDB;
CREATE TABLE messages (
	id VARCHAR(36) NOT NULL,
	conversation_id VARCHAR(36) NOT NULL,
	customer_id VARCHAR(36) NOT NULL,
	message_type VARCHAR(50),
	content TEXT NOT NULL,
	raw_content TEXT,
	is_from_bot TINYINT(1),
	waha_message_id VARCHAR(100),
	media_url VARCHAR(255),
	intent_detected VARCHAR(100),
	confidence_score INT,
	processing_metadata TEXT,
	created_at DATETIME,
	PRIMARY KEY (id),
	FOREIGN KEY(conversation_id) REFERENCES conversations (id),
	FOREIGN KEY(customer_id) REFERENCES customers (id)
) ENGINE=InnoDB;
INSERT INTO messages VALUES('d5aff1c1-6366-4f22-9bea-d1bb9cd9c18d','28e3352c-f869-41f2-9033-41c0b8905d11','ec6c560b-8e68-480c-93c8-dc919a0b54f7','text','quiero dos laptops, 1 mouse',NULL,0,'false_15737457069@c.us_3EB09485840BDE076A6D46',NULL,NULL,NULL,'{}','2025-11-07 12:07:42.538435');
INSERT INTO messages VALUES('3e6e70ec-3576-44fc-9d11-ee2ad8decf08','28e3352c-f869-41f2-9033-41c0b8905d11','ec6c560b-8e68-480c-93c8-dc919a0b54f7','text',unistr('┬┐Cu├íntas unidades de **Laptop HP 15** quieres?\u000a\u000a≡ƒôª Stock disponible: 10 unidades'),NULL,1,NULL,NULL,NULL,NULL,'{}','2025-11-07 12:07:55.731418');
INSERT INTO messages VALUES('f8e975bd-a5f6-4d4a-9502-8065a8addb29','28e3352c-f869-41f2-9033-41c0b8905d11','ec6c560b-8e68-480c-93c8-dc919a0b54f7','text','2',NULL,0,'false_15737457069@c.us_3EB06E25463BBAF3B3212B',NULL,NULL,NULL,'{}','2025-11-07 12:08:16.809363');
CREATE TABLE orders (
	id VARCHAR(36) NOT NULL,
	order_number VARCHAR(50) NOT NULL,
	customer_id VARCHAR(36) NOT NULL,
	conversation_id VARCHAR(36),
	status VARCHAR(50) NOT NULL,
	subtotal FLOAT NOT NULL,
	tax FLOAT,
	shipping_cost FLOAT,
	discount FLOAT,
	total FLOAT NOT NULL,
	delivery_address TEXT,
	delivery_latitude FLOAT,
	delivery_longitude FLOAT,
	delivery_reference VARCHAR(200),
	delivery_city VARCHAR(100),
	delivery_phone VARCHAR(50),
	delivery_notes TEXT,
	payment_method VARCHAR(50),
	payment_status VARCHAR(50),
	payment_reference VARCHAR(200),
	created_at DATETIME NOT NULL,
	confirmed_at DATETIME,
	shipped_at DATETIME,
	delivered_at DATETIME,
	cancelled_at DATETIME,
	updated_at DATETIME,
	order_metadata TEXT,
	cancellation_reason TEXT,
	PRIMARY KEY (id),
	FOREIGN KEY(customer_id) REFERENCES customers (id),
	FOREIGN KEY(conversation_id) REFERENCES conversations (id)
) ENGINE=InnoDB;
INSERT INTO orders VALUES('0723effe-30a1-4815-95d9-75032b823b94','ORD-20251107-001','ec6c560b-8e68-480c-93c8-dc919a0b54f7',NULL,'cancelled',3900.0,741.0,0.0,0.0,4641.0,'GPS: 10.2117903, -67.9884199',10.21179030000000054,-67.98841989999999669,'casa azul',NULL,'15737457069',NULL,'efectivo','pending',NULL,'2025-11-07 12:10:47.413403','2025-11-07 12:10:47.452359',NULL,NULL,'2025-11-07 12:11:23.356402','2025-11-07 12:11:23.361597','{}',NULL);
INSERT INTO orders VALUES('aeaa8845-ed00-4052-9db8-b8a59d19f468','ORD-20251107-002','ec6c560b-8e68-480c-93c8-dc919a0b54f7',NULL,'cancelled',5040.0,957.600000000000022,0.0,0.0,5997.600000000000363,'GPS: 10.2117903, -67.9884199',10.21179030000000054,-67.98841989999999669,'casa azul',NULL,'15737457069',NULL,'efectivo','pending',NULL,'2025-11-07 12:26:45.221846','2025-11-07 12:26:45.269572',NULL,NULL,'2025-11-07 12:27:10.471862','2025-11-07 12:27:10.475639','{}',NULL);
INSERT INTO orders VALUES('d727013d-a2c2-4705-a971-4ea0c82efe61','ORD-20251107-003','ec6c560b-8e68-480c-93c8-dc919a0b54f7',NULL,'cancelled',4200.0,798.0,0.0,0.0,4998.0,'GPS: 10.2117903, -67.9884199',10.21179030000000054,-67.98841989999999669,'casa azul',NULL,'15737457069',NULL,'efectivo','pending',NULL,'2025-11-07 12:36:00.789041','2025-11-07 12:36:00.836205',NULL,NULL,'2025-11-07 12:36:31.925568','2025-11-07 12:36:31.928916','{}',NULL);
CREATE TABLE order_items (
	id VARCHAR(36) NOT NULL,
	order_id VARCHAR(36) NOT NULL,
	product_id VARCHAR(36) NOT NULL,
	product_name VARCHAR(200) NOT NULL,
	product_sku VARCHAR(100),
	quantity INT NOT NULL,
	unit_price FLOAT NOT NULL,
	subtotal FLOAT NOT NULL,
	item_notes TEXT,
	created_at DATETIME,
	PRIMARY KEY (id),
	FOREIGN KEY(order_id) REFERENCES orders (id),
	FOREIGN KEY(product_id) REFERENCES products (id)
) ENGINE=InnoDB;
INSERT INTO order_items VALUES('72c67969-a18e-45e6-b21c-4229520a99a5','0723effe-30a1-4815-95d9-75032b823b94','24e1b0f1-d1fe-4c41-a0a0-e05459bdef42','Laptop HP 15','LAP-HP-001',2,850.0,1700.0,NULL,'2025-11-07 12:10:47.417940');
INSERT INTO order_items VALUES('7f204507-64d1-41b7-a0fe-85ea28fdd4b7','0723effe-30a1-4815-95d9-75032b823b94','6bdcd2ed-26d8-4b9f-a54b-27cbe1353375','Mouse Logitech MX Master 3','ACC-MOU-001',22,100.0,2200.0,NULL,'2025-11-07 12:10:47.417940');
INSERT INTO order_items VALUES('d6a1b414-ecc4-43a2-a073-f882cd65f537','aeaa8845-ed00-4052-9db8-b8a59d19f468','24e1b0f1-d1fe-4c41-a0a0-e05459bdef42','Laptop HP 15','LAP-HP-001',4,850.0,3400.0,NULL,'2025-11-07 12:26:45.224476');
CREATE UNIQUE INDEX ix_customers_phone ON customers (phone);
CREATE INDEX ix_products_name ON products (name);
CREATE INDEX ix_products_category ON products (category);
CREATE INDEX ix_orders_status ON orders (status);
CREATE UNIQUE INDEX ix_orders_order_number ON orders (order_number);
CREATE INDEX ix_orders_customer_id ON orders (customer_id);
CREATE INDEX ix_order_items_order_id ON order_items (order_id);
-- Fin de adaptación para MySQL
